
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: -2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
body{
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}
nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}
#pdf.animate {
  animation: growShrinkAnimation 2s infinite;
}

@keyframes growShrinkAnimation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

button {
  transition:  transform 1s easy-in-out;
}

h5 {
  color: white;
}

@keyframes colorTransition {
  0% { color: blue; }
  50% { color: red; }
  100% { color: green; }
}
.important-link {
  color: blue;
  text-decoration: none;
  display: block;
  font-size: large;
  animation: colorTransition 5s infinite;
}
.important-link:hover {
  background-color: transparent;
}
.MCQ  {
    margin: auto;
    display: block;
    text-align: center;
    border: 4px solid rgb(216, 4, 4);
    padding: 10px;
    font-size: large;
    font-weight: bold;
    background-color: #030007;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    cursor: pointer;
}
a.MCQ {
  color: rgb(255, 123, 0);
}
#id {
  color: black;
}
a {
    color: rgb(241, 207, 9);
    text-decoration: none;
    display: block;
    font-size: large;
}
.MathMcq  {
  color: blue;
}
a:hover {
    background-color:  rgb(240, 236, 17);
}
.nav-menu-links {

    text-align: center;

    padding: 12px;
}
.toggler {
    position: absolute;
    right: 60px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav-Links {
    display: none;
}

.nav-Links.active  {
    display: block;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search input {
    padding: 8px;
    margin-right: 5px;
}

.link-container a {
  color: darkblue;
  font-weight: bold;
  padding: 2px;
}

h1 {
    justify-content: center;
    align-items: center;
   
}
 .link-container {
  display: flex;
  color: blue;
  justify-content: space-between;
  margin-top: 10px;

 }
@media screen and (max-width: 700px) {
  .link-container {
    flex-wrap: wrap;
  }

  .link-container a {
    width: 48%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
  }

  .link-container a:last-child {
    order: 2;
    width: 100%; 
  }
}
@media screen  and (min-width : 600px ) {
    .nav-Links {
        display: flex;
        overflow: hidden; 
    }
    nav {
        position: relative;
        background-color: black;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    }
     ul {
        flex-direction: row;
        align-items: center;
     }
     .banner {

        align-items: flex-start;
    }
    .toggler {

        display : none;
    }
}

.matric {
    border: 2px solid black;
    background-color: rgb(78, 11, 233);
    text-align: center;
    box-shadow: 10px 10px 20px #d8681d;
    animation: colorTransition 5s infinite;
}

.formula {
    align-items: center; 
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
}

@media screen and (max-width: 400px) {
    nav {
        position: relative;
        overflow: hidden;
    }
    .columns {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .nav-Links {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .nav-Links.active {
        display: flex;
    }
    .nav-menu-links {
        padding: 8px;
    }

}

#pdf {
  color: blue;
  flex-shrink: 8;
  padding: 6px;
  box-shadow: 5px 5px 10px #d8cc1d;
  animation: colorTransition 5s infinite;
}

.pdfNotes  {
  border: 4px solid black;
  border-radius: 10px;
  margin-left: 10px;
  display: block;
  animation: colorTransition 5s infinite;
}

h2 {
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  color: white;

}

#color {
    color: black;
    font-weight: bold;
    border: 2px solid black;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.wrapper {
    padding: 5px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.columns {
     display: flex;
    flex-flow: row wrap  ;
    justify-content : center;
    margin: 5px 0;
}

#mcq {
  color: black;
    border: 2px solid black;
    background-color: rgb(240, 166, 7);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.column {
    flex: 2;
    border: 1px solid #ccc;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
}

.MindGrade {
    color: rgb(209, 231, 9);
}

a.question {
    color: black;
    justify-content: center;
    align-items: center;
}

.question {
    color: black;
    font-weight: bolder;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .nav-Links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nav-Links.active {
        display: flex;
    }
    .nav-menu-links {
        padding: 8px;
    }
    nav {
        position: relative;
        padding: 15px;
    }
}

.black    {
  color: black;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sutro  {
  color:  yellow;
}

/* adding body css############################################################################ */

header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: #d6bef7;
    
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    /* padding: 1px; */
    visibility: hidden;
    
}

header a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #c9f81e;
    border-radius: 3px;
}

.bannerr {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 5rem;
}

.bannerr img {
    max-width: 100%;
    width: 70rem;
    height: auto;
    background-size: auto 100%;
}

.bash{
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bash h2{
  top: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.bash button {
  margin-top: 10rem;
  position: absolute;
  padding: 15px 15px;
  background-color: #f05f40; 
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {

    .bash button{
        margin-top: 8rem;
    }
}

@media screen and (max-width: 480px) {
    .bash button{
        margin-top: 8rem;
    }
}

.section-title {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f4f4;
    font-size: 2rem;
    border: none; 
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .section-title{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 480px) {
    .section-title{
        font-size: 1.2rem;
    }
}

.menu-box{
    padding: 5px 84px 51px 80px;
    margin: 0rem 11rem 0rem 11rem;
}
@media screen and (max-width: 1080px){
    .menu-box{
        padding: 15px 19px 51px 17px;
        margin: 0rem 1rem 0rem 1rem;
    }
}
@media screen and (max-width:768px){
    .menu-box{
        padding: 15px 19px 51px 17px;
        margin: 0rem 1rem 0rem 1rem;
    }
}
@media screen and (max-width: 480px){
    .menu-box{

        padding: 15px 19px 51px 17px;
        margin: 0rem 1rem 0rem 1rem;

    }
}


.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;

}
.item {
    width: 30%;
    margin-bottom: 15px;
    text-align: center;
    /* background-color: #f1ff30; */
    border-radius: 10px;
}
.item img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-top: 21px;
}
.item p{
    font-weight: 600;
    font-size: 3rem;
}
@media screen and (max-width: 1080px){
    .item p{
        font-weight: 500;
        font-size: 1rem;
    }
}
@media screen and (max-width:768px){
    .item p{
        font-weight: 500;
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px){
    .item p{
        font-weight: 500;
        font-size: 1rem;
    }
}

.people-choice {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.people-choice img {
    width: 48%;
    height: auto;
}
@media screen and (max-width: 1024px) {
    .item {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {

    .item {
        width: 48%;
        background-color: white;
    }
}
@media screen and (max-width: 480px) {

    .item {
        background-color: white;
    }
}
@media screen and (max-width: 480px) {
    header {
        position: relative;
        flex-direction: row;
        text-align: center;
        visibility: visible;
    }
    
    .items {
        flex-direction: row;
        align-items: center;
        
    }
    .item .people-choice img {
        width: 80%;
    }
    
}
@media screen and (max-width: 768px) {
    header {
        position: relative;
        flex-direction: row;
        text-align: center;
        visibility: visible;
    }
    
    .items {
        flex-direction: row;
        align-items: center;
    }
    .item, .people-choice img {
        width: 80%;
    }
}