body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.terms-conditions {
    background-color: #fff;
    padding: 60px 20px;
    text-align: left;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.title {
    color: #d9534f;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    text-decoration: underline;
}

.content h2 {
    color: #d9534f;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
}

.content h4 {
    color: #d9534f;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
    list-style-type: decimal;

}


.content p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out 0.5s;
}

.content a {
    color: #d9534f;
    text-decoration: none;
    transition: color 0.3s;
}

.content a:hover {
    color: #c9302c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
